<h3 class="head">Claim Details</h3>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Claim Date</th>
            <th scope="col">Status</th>
            <th scope="col">Amount</th>
            <th scope="col">Reason</th>
            <th scope="col">Policy No</th>

            
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of claimList;" >
            
            <td>{{c.claimDate|date}}</td>
            <td>{{c.status}}</td>
            <td>{{c.amount}}</td>
            <td>{{c.reason}}</td>
            <td>{{c.policy.policyNo}}</td>
            
            
              <!-- <button type="button" class="btn btn-primary" >Renew</button> -->
              <!-- <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button> -->
            <!-- <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button> -->
            
          </tr>