<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid rgb(221, 221, 221);
  padding: 6px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: rgb(188, 194, 206);}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0452aa;
  color: rgb(255, 255, 255);
}
</style>
</head>
<body>
<br>
<h1>Your Claims</h1>
<br>
<table id="customers">
    <tr>
        <th>Claim No.</th>
        <th>date</th>
        <th>Status</th>
        <th>Amount</th>
        <th>Reason</th>
      </tr>
  <tr>
 
  <tr>
    <td>1</td>
    <td>12/07/2000</td>
    <td>Instant</td>
    <td>12/07/2000</td>
    <td>Instant</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Simon Crowther</td>
    <td>UK</td>
    <td>12/07/2000</td>
    <td>Instant</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Marie Bertrand</td>
    <td>France</td><td>12/07/2000</td>
    <td>Instant</td>
  </tr>
</table>

</body>
</html>


