<div class="about-section">
    <h1>About Us </h1>
   
</div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Dnyanesh Dhumal</h2>
          <p class="title">GET</p>
          <p>I'm an enthusiastic learner</p>
          <p>Dnyanesh.dhumal@lntinfotech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        
        <div class="container">
          <h2>Sachin Sikarwar</h2>
          <p class="title">GET</p>
          <p>Want to see the world with magnifier.</p>
          <p>sachin.sikarwar@lntinfotech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Bhabya Mohanty</h2>
          <p class="title">GET</p>
          <p>Believe in achieving dreams</p>
          <p>Bhavya.mohanty@lntinfotech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Rohit Raj</h2>
          <p class="title">GET</p>
          <p>Nothing is unreachable</p>
          <p>Rohit.raj@lntinfotech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>