<img class="home" src="assets/images/home3.jpg">
<div class="container">
    <button type="button" class="btn btn-outline-primary btn-lg" >
      <a href="/buyinsurance">Buy Insurance</a></button>
    <button type="button" class="btn btn-outline-primary btn-lg" id="btn1" href="#">Renew Insurance</button>
    <button type="button" class="btn btn-outline-primary btn-lg">
      <a href="/claimrecords">Claim Insurance</a></button>
    <button type="button" class="btn btn-outline-primary btn-lg" id="btn3" href="#">Estimate Insurance Calculation</button>
  </div>