<img class="home" src="assets/images/home3.jpg">
<div class="container">
    <button type="button" class="btn btn-outline-primary btn-lg" >
      <a href="/buyinsurance">Buy Insurance</a>
    </button>
    <button type="button" class="btn btn-outline-primary btn-lg"  >
     <a href="/buyinsurance" >Renew Insurance</a>
    </button>
    <button type="button" class="btn btn-outline-primary btn-lg">
      <a href="/claimrecords">Claim Insurance</a>
    </button>
    <button type="button" class="btn btn-outline-primary btn-lg" >
      <a href="/estimate" >Estimate Insurance Calculation</a>
    </button>
  </div>