<!-- <p>vehicleinsurance works!</p> -->
<div class="container text-center mt-3">
    
    <div class="container">
        <form [formGroup]="vehicle" (ngSubmit)="onSubmit(vehicle.value)">
        <div class="row d-flex justify-content-center mt-5 mb-5">
            
            <div class="col-md-6">
                
                <div class="card p-4">
                    
                    <div class="text-left">
                        <h5>Fill your Vehicle Details</h5>
                        <span></span>
                    </div>
                     
                    <div class="mt-3 d-flex flex-row gap-2">
                        <label class="mr-sm-2" for="vehType">Choose your Vehicle Type</label>
                            <select class="custom-select mr-sm-2" id="vehType" formControlName="vehType" >
                               
                               <option value="Two Wheeler">Two Wheeler</option>
                               <option selected value="Four Wheeler" >Four Wheeler</option>
        
                            </select>
                    </div>
                    
                    <div class="mt-2">
                        <div class="form-group" >
                            <label for="vehMfg">Car/Bike Manufacturer</label>
                            <input type="text" class="form-control" id="vehMfg" formControlName="vehMfg" >
                            <span style="color:red" *ngIf="vehMfg && vehMfg.invalid && (vehMfg.dirty || vehMfg.touched)">*Field is required</span>
                            <!-- <div *ngIf="vehicle.invalid && (vehicle.dirty || vehicle.touched)" class="alert alert-danger">

                                     <div *ngIf="vehicle.errors?.['required']">
                                                  Field is required.
                                    </div>
  
                            </div> -->
                        </div>
                    </div>
                    
                    <div class="mt-2">
                        <div class="form-group">
                            <label for="vehModel">Bike/Car Model</label>
                            <input type="text" class="form-control" id="vehModel" formControlName="vehModel" >
                            <span style="color:red" *ngIf="vehModel && vehModel.invalid && (vehModel.dirty || vehModel.touched)">*Field is required</span>
                        </div>
                    </div>
                    
                    <div class="mt-2">
                        <div class="form-group">
                            <label for="drivingLic">Driving Licence</label>
                            <input type="text" class="form-control" id="drivingLic" formControlName="drivingLic" >
                            <span style="color:red" *ngIf="drivingLic && drivingLic.invalid && (drivingLic.dirty || drivingLic.touched)">*Field is required</span>
                        </div>
                    </div>

                    <div class="mt-2">
                        <div class="form-group">
                            <label for="vehicleAge">Vehicle Age</label>
                            <input type="number" class="form-control" id="vehicleAge" formControlName="vehicleAge" >
                            <span style="color:red" *ngIf="vehicleAge && vehicleAge.invalid && (vehicleAge.dirty || vehicleAge.touched)">*Field is required,Age should be 1-8</span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="form-group">
                            <label for="vehicleCost">Vehicle Cost</label>
                            <input type="text" class="form-control" id="vehicleCost" formControlName="vehicleCost" >
                            <span style="color:red" *ngIf="vehicleCost && vehicleCost.invalid && (vehicleCost.dirty || vehicleCost.touched)">*Field is required</span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="form-group">
                            <label for="vehRegNo">Registration Number</label>
                            <input type="text" class="form-control" id="vehRegNo" formControlName="vehRegNo">
                            <span style="color:red" *ngIf="vehRegNo && vehRegNo.invalid && (vehRegNo.dirty || vehRegNo.touched)">*Field is required</span>
                        </div>
                    </div>

                    <div class="mt-2">
                        <div class="form-group">
                            <label for="chasisNumber">Chasis Number</label>
                            <input type="text" class="form-control" id="chasisNumber" formControlName="chasisNumber">
                            <span style="color:red" *ngIf="chasisNumber && chasisNumber.invalid && (chasisNumber.dirty || chasisNumber.touched)">*Field required,length should be 6</span>
                        </div>

                    </div>
                   
                    <!-- Submit button -->
                    <div class="mt-3">
                        <button [disabled]="!vehicle.valid" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
    </form>
    </div>
    
    
  </div>

