<p>ticket-form works!</p>
<body background="">
    <br>
    <br>
    <br>
    <div class="container addform">
        
        
        
        <h2 class="heading">Employee form</h2>
        
        <br>
    <div class="row">
        <div class="col-lg-12">
        
        <form>
            
      <div class="form-group row">
          
        <label for="empNo" class="col-sm-2 col-form-label"><b>Employee Number Id:</b> </label><br>
        <div class="col-sm-7">  
        <input class="form-control" id="empNo" type="text" formControlName="empNo" placeholder="Employee Number">
        </div>
      </div>
            <br>
          
      <div class="form-group row">
          <label for="empName" class="col-sm-2 col-form-label"><b>Employee Name: </b></label><br>
         <div class="col-sm-7"> 
        <input type="text" class="form-control" id="empName" formControlName="empName" placeholder="Employee Name">
          </div>
      </div><br>
          
     <div class="form-group row">
         <label for="empSal" class="col-sm-2 col-form-label"><b>Employee Salary:</b></label><br>
          <div class="col-sm-7">
        <input type="text" class="form-control" id="empSal" formControlName="empSal" placeholder="Employee Salary">
         </div>
      </div><br>
    
      <div class="form-group row">
        <label for="deptId" class="col-sm-2 col-form-label"><b>Department No:</b></label><br>
         <div class="col-sm-7">
            <select type="text" class="form-control" id="deptId" formControlName="deptId"  selected >
                <option value="" disabled selected hidden>Department Number</option>
                <!-- /*<option *ngFor="let d of deptList;"value={{d.deptId}} >{{d.deptId}}</option>*/ -->
                
              </select>
      
        </div>
     </div>
          <br><br>
          <button type="submit" class="btn btn-add">Add Employee</button> 
    </form>