 <div>
       <div class="container">
        <form [formGroup]="ticketForm" (ngSubmit)="onSubmit(ticketForm.value)">
        <div class="row d-flex justify-content-center mt-5 mb-5">
            
            <div class="col-md-6">
                
                <div class="card p-4">
                    
                    <div class="text-left">
                        <h5>Enter Your Travel Details</h5>
                        
                    </div>
                    
                    <div class="mt-2">
                        <div class="form-group">
                            <label>Ticket No</label>
                            <input type="text" class="form-control" id="ticketNo" formControlName="ticketNo" >
                            <span style="color:red" *ngIf="ticketNo && ticketNo.invalid && (ticketNo.dirty || ticketNo.touched)">*Field is Required</span>
                        </div>
                    </div>
                    
                    <div class="mt-2">
                        <div class="form-group">
                            <label>Source</label>
                            <input type="text" class="form-control" id="departureLoc" formControlName="departureLoc">
                            <span style="color:red" *ngIf="departureLoc && departureLoc.invalid && (departureLoc.dirty || departureLoc.touched)">**Field is Required</span>
                        </div>
                    </div>
                    
                    <div class="mt-2">
                        <div class="form-group">
                            <label>Destination</label>
                            <input type="text" class="form-control" id="arrivalLoc" formControlName="arrivalLoc">
                            <span style="color:red" *ngIf="arrivalLoc && arrivalLoc.invalid && (arrivalLoc.dirty || arrivalLoc.touched)">**Field is Required</span>
                        </div>
                    </div>

                    <div class="mt-2">
                        <div class="form-group">
                            <label>Date of Journey</label>
                            <input type="date" class="form-control" id="travelDate" formControlName="travelDate">
                            <span style="color:red" *ngIf="travelDate && travelDate.invalid && (travelDate.dirty || travelDate.touched)">**Field is Required</span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="form-group">
                            <label>Travel Time(in Hrs)</label>
                            <input type="number" class="form-control" id="travelTime" formControlName="travelTime" >
                            <span style="color:red" *ngIf="travelTime && travelTime.invalid && (travelTime.dirty || travelTime.touched)">**Field is Required</span>
                        </div>
                    </div>
                    <div class="mt-3 d-flex flex-row gap-2">
                        <label class="mr-sm-2" >Mode of Travel</label>
                            <select class="custom-select mr-sm-2" id="travelMode" formControlName="travelMode">
                               
                               <option value="AIRWAYS">AIRWAYS</option>
                               <option value="ROAD">ROAD</option>
                               <option value="TRAIN">TRAIN</option>
        
                            </select>
                    </div>
                    

                    
                    <!-- Submit button -->
                    <div class="mt-3">
                        <button [disabled]="!ticketForm.valid" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
    </form>
    </div>
    
    
  </div>

